/**
 * partials/nav
 * ---
 * Menus
 */


.nav {}

.menu {}

.sub-menu {}

.menu-item {}

.scene{
	.scene-element {
		animation-duration: 0.25s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
	}

	.fadein {
	  animation-name: fadeIn;
	}
	
	&.is-exiting .scene-element {
	  animation-direction: alternate-reverse;
	}
} 

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
